/* your code here */
.price{
	color:red;
	font-size:25px;
}
.product{
	display:flex;
	background-color:white;
}


.photo-container{
	display:flex;
	flex-direction:column;
	justify-content:flex-row;
	background-color:white;
}
.controls{
	display:flex;
	justify-content:space-between;
}

.photo-album>ul{
	display:flex;
	flex-direction:row;
	list-style-type:none;
}
.photo-album>ul>li{
	padding:2px;
	border:1px solid black;
	background-color:white;
	
}
.photo-main>img{
	display:flex;
	flex-direction:row;
	background-color:limegreen;
}

.controls>i{
	color:white;
}

.variant>ul{
	display:flex;
	list-style-type:none;
}

.product__photo{
	background-color:white;
}

button{
	background-color:red;
	color:white;
	border:2px solid red;
	border-radius:5%;
	padding:10px;
	
}